#focusselection {
    width: 300px;
    height: 100px;
    border: 1px solid black;
}

.rangelabel {
    float: left;
    z-index: 100;
}

.rangelabelend {
    z-index: 100;
}

.rangestop {
    position: relative;
    float: right;
}

.rangestart {
    position: relative;
}

.legend_box {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #ddd;
    z-index: -50;
}

.highlight {
    background: yellow;
    opacity: 0.5;
    position: absolute;
    width: 50px;
    height: 20px;
    z-index: -100;
}